@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-menu-dark .ant-menu-item {
  margin-inline: 12px;
  border-radius: 8px;
  font-size: 20px;
}
.anticon {
  font-size: 30px;
}
.table-kompetensi-keterampilan .ant-form-item {
  margin-inline-end: 16px !important;
  margin-bottom: 8px !important;
}
.table-kompetensi-keahlian .ant-form-item {
  margin-inline-end: 16px !important;
  margin-bottom: 8px !important;
}